.dropbtn {
  background: transparent;
  color: var(--clr-dropdown-text);
  padding: 5px;
  border: none;

  display: flex;
  align-items: center;
  gap: 1em;

  font-weight: 700;
  line-height: 24px;
  font-size: var(--fs-dynamic-14-18);
  letter-spacing: 0.5px;
  transition: all 1s;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-right: 1px solid;
  border-color: var(--clr-drop-downDivide);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--clr-dropdown-bg);
  min-width: 160px;
  box-shadow: var(--clr-dropdown-shadow);
  
  border-radius: 16px;
  z-index: 1;
}
.dropdown-content button {
  color: var(--clr-body-text);
  border: none;
  background: none;
  display: block;
  padding: 12px 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--fs-dynamic-14-18);
  letter-spacing: 0.5px;

  transition: all 0.3s ease-in;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button:hover {
  color: var(--clr-themeSwitch-bg-purple);
}
