html {
  background-color: var(--clr-body);
}
.container {
  --max-width: 60.375rem;
  --padding: 1.5rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.spacer * + * {
  margin-top: 1.5em;
}

/* font change class */
.ff-inter {
  font-family: "Inter";
}
.ff-lora {
  font-family: "Lora";
}
.ff-inconsolata {
  font-family: "Inconsolata";
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.flex {
  display: flex;
}
.flex-gap-1 {
  gap: 1em;
}
/* Dynamic fonts */
.ff-dynamic-18-24 {
  font-size: var(--dynamic-18-24);
}
.ff-dynamic-32-64 {
  font-size: var(--fs-dynamic-32-64);
}
.ff-dynamic-14-18 {
  font-size: var(--fs-dynamic-14-18);
}
.ff-dynamic-16-20 {
  font-size: var(--fs-dynamic-16-20);
}
/* font weight */
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* dynamic spacing */

.dynamic-margin-28-50 {
  margin-block: var(--space-l);
}

.dynamic-margin-bt {
  -webkit-margin-after: var(--space-l);
  margin-block-end: var(--space-l);
}
.dynamic-margin-bt-m {
  -webkit-margin-after: var(--space-m);
  margin-block-end: var(--space-m);
}
.dynamic-margin-bt-m-block {
  margin-block: var(--space-m);
}

.padding-8 {
  padding: var(--size-200);
}
.padding-12 {
  padding: var(--size-300);
}

.margin-inline-8 {
  margin-inline: var(--size-200);
}
.margin-inline-12 {
  margin-inline: var(--size-300);
}
.margin-inline-end-12 {
  -webkit-margin-end: var(--size-300);
  margin-inline-end: var(--size-300);
}

/* other util classes */
.section-title {
  color: var(--clr-head-text);
}
.section-meaning {
  color: var(--clr-meaning-text);
  font-size: var(--fs-400);
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}
.section-meaning-text {
  color: var(--clr-body-text);
  line-height: 24px;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: var(--clr-section-divide);
}
.section-divider {
  display: flex;
  align-items: center;
  gap: 2em;
}

.list-style li {
  padding-left: 0.5em;
  margin-left: 1.6em;
}
.list-style li::marker {
  color: var(--clr-themeSwitch-bg-purple);
  font-size: 1.15rem;
}
