:root {
  /* Colors */

  --clr-dark-hsl-900: 0, 0%, 2%;
  --clr-dark-hsl-800: 0, 0% 12%;
  --clr-dark-hsl-700: 0, 0%, 18%;
  --clr-dark-hsl-600: 0, 0%, 23%;

  --clr-gray-hsl-500: 0, 0%, 51%;

  --clr-light-hsl-500: 0, 0%, 91%;
  --clr-light-hsl-300: 0, 0%, 98%;
  --clr-light-hsl-100: 0, 0%, 100%;

  --clr-purple-hsl: 274, 82%, 60%;
  --clr-red-hsl: 0, 100%, 66%;

  /* lightmode color */
  --clr-body: hsl(var(--clr-light-hsl-100));

  --clr-head-text: hsl(var(--clr-dark-hsl-700));
  --clr-pronounce-text: hsl(var(--clr-purple-hsl));
  --clr-body-text: hsl(var(--clr-dark-hsl-700));

  --clr-input-bg: hsl(var(--clr-light-hsl-300));
  --clr-input-text: hsl(var(--clr-dark-hsl-700));
  --clr-input-placeholder-text: hsl(var(--clr-dark-hsl-700));

  --clr-play-bg: hsl(var(--clr-purple-hsl));
  --clr-themeSwitch-bg: hsl(var(--clr-gray-hsl-500));
  --clr-themeSwitch-bg-purple: hsl(var(--clr-purple-hsl));

  --clr-dropdown-text: hsl(var(--clr-dark-hsl-700));
  --clr-dropdown-bg: hsl(var(--clr-light-hsl-100));
  --clr-dropdown-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  --clr-drop-downDivide: hsl(var(--clr-light-hsl-500));
  --clr-source-link-text: hsl(var(--clr-dark-hsl-700));

  --clr-meaning-text: hsl(var(--clr-gray-hsl-500));

  --clr-section-divide: hsl(var(--clr-light-hsl-500));

  --clr-error-msg: hsl(var(--clr-red-hsl));

  /* Fonts-sizes */
  --fs-900: 4rem; //64px
  --fs-800: 2rem;
  --fs-700: 1.5rem; // 24px
  --fs-600: 1.25rem; // 20px
  --fs-500: 1.125rem; // 18px
  --fs-400: 1rem; // 16px
  --fs-300: 0.875rem; // 14px

  /* Responsive Fontsize */

  --fs-dynamic-18-24: clamp(
    var(--fs-300),
    calc(0.76rem + 1.24vw),
    var(--fs-700)
  );
  --fs-dynamic-32-64: clamp(
    var(--fs-800),
    calc(1.36rem + 2.72vw),
    var(--fs-900)
  );

  --fs-dynamic-14-18: clamp(
    var(--fs-300),
    calc(0.79rem + 0.38vw),
    var(--fs-500)
  );

  --fs-dynamic-16-20: clamp(var(--fs-400), calc(0.8 + 0.4vw), var(--fs-600));
  --space-l: clamp(1.75rem, calc(1.15rem + 2.54vw), 3.13rem);
  --space-m: clamp(1.31rem, calc(0.85rem + 1.97vw), 2.38rem);

  /* Sizes */
  --size-100: 0.25rem; // 4px
  --size-200: 0.5rem; // 8px
  --size-300: 0.75rem; //12px
  --size-400: 1rem; // 16px
  --size-500: 1.5rem; // 24px
  --size-600: 2rem; //32px
  --size-700: 3rem; //48px
  --size-800: 4rem; // 64px
  --size-900: 5rem; // 80px
}

:root.dark-mode {
  --clr-body: hsl(var(--clr-dark-hsl-900));

  --clr-head-text: hsl(var(--clr-light-hsl-100));

  --clr-body-text: hsl(var(--clr-light-hsl-100));

  --clr-input-bg: hsl(var(--clr-dark-hsl-700));
  --clr-input-text: hsl(var(--clr-light-hsl-100));
  --clr-input-placeholder-text: hsl(var(--clr-light-hsl-100));
  --clr-dropdown-text: hsl(var(--clr-light-hsl-100));
  --clr-dropdown-bg: hsl(var(--clr-dark-hsl-700));
  --clr-dropdown-shadow: 0px 5px 30px #a445ed;
  --clr-drop-downDivide: hsl(var(--clr-light-hsl-100));
  --clr-source-link-text: hsl(var(--clr-light-hsl-100));

  --clr-section-divide: hsl(var(--clr-dark-hsl-600));
}
