.nounSection > * {
  transition: all 0.5s;
}
.synonym-text {
  color: var(--clr-themeSwitch-bg-purple);
  cursor: pointer;
  transition: all 0.3s;
}
.synonym-text:hover {
  text-decoration: underline;
}
