.searchInput-label {
  display: flex;

  background-color: var(--clr-input-bg);

  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.9em 0.9em;
}
.searchIcon {
  width: 15px;
  height: 15px;
}
.searchInput {
  border: none;
  flex: 1;
  background-color: var(--clr-input-bg);
  border-radius: 1rem;
  outline: none;
  color: var(--clr-input-text);
  font-weight: 700;
}
.searchInput::-webkit-input-placeholder {
  color: var(--clr-input-placeholder-text);
}
.searchInput::-moz-placeholder {
  color: var(--clr-input-placeholder-text);
}
.searchInput:-ms-input-placeholder {
  color: var(--clr-input-placeholder-text);
}
.searchInput::-ms-input-placeholder {
  color: var(--clr-input-placeholder-text);
}
.searchInput::placeholder {
  color: var(--clr-input-placeholder-text);
}

.searchInput-label:focus-within {
  outline: 1px solid;
  outline-color: var(--clr-themeSwitch-bg-purple);
}

.searchBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.7em;
}
.inputError {
  display: inline-block;
  margin-top: 0.5em;
  color: var(--clr-error-msg);
}

.invalid,
.invalid:focus-within {
  outline: 1px solid;
  outline-color: var(--clr-error-msg);
}
